@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    outline: 0;
    margin: 0;
    padding: 0;
    background-color: #E8E8E8;
    font-family: "Roboto";
}

body{
    overflow: hidden;
}

img[src="./Assets/pexels-rfstudio-3819572.jpg"]{
   height: 100vh;
   z-index: -1;
}

.container{
    display: flex;
    flex-direction: row;
}


.nav-bar{
   position: absolute;
   top: 30px;
   display: flex;
   flex-direction: row;
   justify-content: space-between   ;
   width: 100vw;
   background-color: transparent;
}

.hr{
    background-color: black;
    margin-top: 35px;
    height: 2px;
   margin-left: 200px;
}

.list-items{
    padding: 0px 40px;
    text-decoration: none;
    font-size: 20px;
    color: gray;
}



.left-content{
    width: 600px;
    
}

.right-content{
    margin-left: 10px;
    width: 800px;
    height: 100vh;
    margin-right: 50px;
   
}

.heading{
    margin-top: 40px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    line-height: 130px;
}

.right-paragraph{
    font-size: 40px;
    color:  gray;
    position: relative;
    left: 350px;
    width: 100px;
    top: -20px;    
}

.span{
    color: transparent;
}

button{
    height: 50px;
    width: 180px;
    background-color:#333333;
    color: #E8E8E8;
    font-size: 14px;
}

.crea{  
    color   : white;
}

.right-content-btn{
    margin-left: 600px;
    margin-top: -50px;
    border: 0px;
    border-radius: 10px;
}

.bottom-list{
    
    width: 250px;
    margin-left: 30px;
    height: 200px;
    margin-top: -220px;
}

.list-item{
    padding: 15px 0px;
}

.stroke{
    font-size: 80px;
    margin-left: 300px;
    margin-top: -200px;
}

.bottom-paragraph{
    font-size: 18px;
    font-style: italic;
    text-align: center;
    margin-left: 90px;
    margin-top: -40px;
}


img[src="./Assets/pexels-cottonbro-7974875.jpg"]{
    height: 250px;
    width: 400px;
    margin-left: 240px;
}

img[src="./Assets/down-arrow-svgrepo-com.svg"]{
     height: 100px;
    width: 100px;
    margin-bottom: 80px;
    margin-left: 30px;
    color: aliceblue;
}

.social-icon{
    list-style: none;
    padding: 20px 0px;
}


.social-meida-icons{
  position: relative;
  left: 800px;
  top: -300px;
}

.credits{
    position: relative;
    font-size: 10px;
    width: 270px;
    right: 70;
    top: 60;
}

@media only screen and (max-width: 570px) {
  
  
    .left-content{
        display: flex;
        flex-direction: column;
        
    }

   

    .list-items{
       display: flex;
        flex-direction: column; 
       margin-left: 0px;
    }

    .right-content{
       display: flex;
        flex-direction: column;  
        font-size: 14px;
    }

 
    .bottom-list{
         display: flex;
        flex-direction: column;
    }

    .list-items{
           display: flex;
        flex-direction: column; 
    }

    .right-paragraph{
        font-size: 8px;
        margin-left: 0px;
    }

}